This is just a trial notebook to test GCP AI Platform's Notebook capabilities.

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'class']

df = pd.read_csv("adult.data", names=col_names, delimiter=", ", engine="python")

In [3]:
df.head(7)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K

In [4]:
df_prep = df.drop(columns=['fnlwgt', 'education'])

In [5]:
def separate_data_and_label(df, label_col):
  features = set(df.columns) - set(label_col)

  data_df = df[list(features)]
  label = df[label_col]
  
  return data_df, label

In [6]:
df_final, y_final = separate_data_and_label(df_prep, 'class')

In [7]:
y_final = y_final.map({'<=50K': 0, '>50K': 1})

In [8]:
tree = DecisionTreeClassifier(max_depth=7)

tree.fit(df_final[['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']], y_final)

DecisionTreeClassifier(max_depth=7)

In [9]:
tree.feature_importances_

array([0.18480951, 0.23125111, 0.4031009 , 0.1151261 , 0.06571238])